* {
  margin: 0;
  padding: 0;
  background-color: rgba(1, 1, 1, 0.9);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.welcome {
  position: relative;
  max-width: 1600px;
  min-height: 90vh;
  margin: auto;
  background-image: url(/img/container-3859711_640.jpg);
  background-size: cover;
  background-attachment: fixed;
}
i {
  position: absolute;
  left: 50%;
  background-color: transparent;
  color: white;
  font-size: 100px;
}
i:nth-child(1) {
  top: 30%;
  animation: colorFlow 0.6s infinite;
}
i:nth-child(2) {
  top: 40%;
  animation: colorFlow 0.6s infinite 0.2s;
}
i:nth-child(3) {
  top: 50%;
  animation: colorFlow 0.6s infinite 0.4s;
}
@keyframes colorFlow {
  0% {
    color: white;
  }
  25% {
    color: red;
  }
  50% {
    color: white;
  }
  100% {
    color: white;
  }
}
.wrapper {
  max-width: 1600px;
  min-height: 100vh;
  margin: auto;
}
header {
  max-width: 100%;
  height: 10%;
  color: white;
  margin: 5px auto;

  text-align: center;
}
section {
  width: 90%;
  height: 70vh;
  margin: 20px auto;
  display: flex;
}
.data,
.info {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}
.btns {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
label {
  font-size: 14px;
  color: white;
  margin-top: 10px;
}
select {
  margin-top: 10px;
  flex-basis: 5%;
  color: white;
  width: 60px;
  height: 10px;
  font-size: 18px;
}
input {
  margin-top: 10px;
  flex-basis: 5%;
  color: white;
  width: 60px;
  height: 10px;
  font-size: 18px;
}
#quantity,
#free {
  margin: 20px;
  color: white;
  font-size: 18px;
}
#quantity li button {
  color: white;
  padding: 3px 7px;
  transition: 0.2s;
}
#quantity li button:hover {
  background-color: red;
}
.delete {
  font-size: 16px;
  color: white;
  background-color: red;
  padding: 4px 6px;
  margin-left: 10px;
}

#add {
  margin-top: 40px;
  padding: 10px;
  width: 120px;
  color: white;
  background-color: green;
  font-size: 20px;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.3s;
}
#add:hover {
  background-color: yellowgreen;
}
#calk,
#clear {
  margin-top: 40px;
  padding: 10px;
  width: 120px;
  color: white;
  font-size: 20px;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.3s;
}
#calk:hover,
#clear:hover {
  background-color: white;
  color: black;
}
footer {
  max-width: 100%;
  height: 10%;
  color: white;
  margin: 10px auto;
  text-align: center;
}
.foot {
  display: inline-block;
  padding: 20px;
}
